<div class="row">
    <div class="col-md-4">
        <input type="file" name="UploadFile" id="txtUploadFile" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
